<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Protact</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/favicon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Arsha - v4.9.1
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-94XTWHL6DT"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-94XTWHL6DT");
    </script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-TNKZBSQ9");
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TNKZBSQ9"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/" class="logo me-auto"
          ><img src="assets/img/white_logo.png" alt="" class="img-fluid"
        /></a>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
            <li>
              <a class="nav-link scrollto" href="#about">Acerca de nosotros</a>
            </li>
            <li><a class="nav-link scrollto" href="#services">Servicios</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
            <!--<li><a class="getstarted scrollto" href="#about">Get Started</a></li>-->
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <img
              src="assets/img/white_logo.png"
              alt=""
              class="img-fluid logo-home"
              width="60%"
            />
            <h1 class="mt-5">Somos tu aliado estratégico</h1>
            <h2>
              En PROTACT brindamos soluciones estratégicas asociadas al sector
              de hidrocarburos e industrial
            </h2>
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a href="#about" class="btn-get-started scrollto">Conócenos</a>
              <!--
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
            --></div>
          </div>
          <div
            class="col-lg-6 order-1 order-lg-2 hero-img"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <img src="assets/img/gas.png" class="img-fluid animated" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Clients Section ======= -->
      <section id="clients" class="clients section-bg">
        <div class="container">
          <div class="row" data-aos="zoom-in">
            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/img/clients/client-1.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/img/clients/client-2.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/img/clients/client-3.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/img/clients/client-4.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/img/clients/client-5.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/img/clients/client-6.png"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      <!-- End Cliens Section -->

      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Acerca de nosotros</h2>
          </div>

          <img
            src="assets/img/logo.png"
            alt=""
            class="img-fluid w-50 mx-auto d-block"
          />

          <div class="row content mt-5">
            <div class="col-lg-6">
              <p>
                En PROTACT tenemos como objetivo contribuir y conectar con cada
                uno de nuestros clientes de manera positiva, brindandoles
                servicios de alta calidad acompañados de nuestro equipo de
                expertos.
              </p>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li><i class="ri-check-double-line"></i>Integridad</li>
                    <li><i class="ri-check-double-line"></i>Ética</li>
                    <li><i class="ri-check-double-line"></i>Respeto</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li><i class="ri-check-double-line"></i>Lealtad</li>
                    <li><i class="ri-check-double-line"></i>Pasión</li>
                    <li>
                      <i class="ri-check-double-line"></i>Responsabilidad social
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                En PROTACT brindamos soluciones estratégicas asociadas a la
                regulación del sector hidrocarburos. La división hidrocarburos
                de PROTACT cuenta con un equipo multidisciplinario, enfocado en
                la prevención, solución y cumplimiento normativo de todas las
                dependencias que regulan al sector.
              </p>
              <!--
            <a href="#" class="btn-learn-more">Learn More</a>
            --></div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->

      <!-- ======= Why Us Section ======= -->
      <section id="why-us" class="why-us section-bg">
        <div class="container-fluid" data-aos="fade-up">
          <div class="row">
            <div
              class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1"
            >
              <div class="content">
                <h3>
                  Estación de servicio <strong>proyecto llave en mano</strong>
                </h3>
                <p></p>
              </div>

              <div class="accordion-list">
                <ul>
                  <li>
                    <a
                      data-bs-toggle="collapse"
                      class="collapse"
                      data-bs-target="#accordion-list-1"
                      ><span>01</span> Diseño
                      <i class="bx bx-chevron-down icon-show"></i
                      ><i class="bx bx-chevron-up icon-close"></i
                    ></a>
                    <div
                      id="accordion-list-1"
                      class="collapse show"
                      data-bs-parent=".accordion-list"
                    >
                      <p>
                        Te apoyamos a diseñar el proyecto para tu estación de
                        servicio y cumplir con la normatividad requerida para
                        dar inicio.
                      </p>
                    </div>
                  </li>

                  <li>
                    <a
                      data-bs-toggle="collapse"
                      data-bs-target="#accordion-list-2"
                      class="collapsed"
                      ><span>02</span> Construcción
                      <i class="bx bx-chevron-down icon-show"></i
                      ><i class="bx bx-chevron-up icon-close"></i
                    ></a>
                    <div
                      id="accordion-list-2"
                      class="collapse"
                      data-bs-parent=".accordion-list"
                    >
                      <p>
                        Nuestro equipo especializado se encarga de poner en pie
                        la estación de servicio que necesitas cumpliendo con las
                        normativas requeridas de este proceso a nivel estatal y
                        federal.
                      </p>
                    </div>
                  </li>

                  <li>
                    <a
                      data-bs-toggle="collapse"
                      data-bs-target="#accordion-list-3"
                      class="collapsed"
                      ><span>03</span> Operación y Mantenimiento
                      <i class="bx bx-chevron-down icon-show"></i
                      ><i class="bx bx-chevron-up icon-close"></i
                    ></a>
                    <div
                      id="accordion-list-3"
                      class="collapse"
                      data-bs-parent=".accordion-list"
                    >
                      <p>
                        Contamos con un equipo multidisciplinario, enfocado en
                        el cumplimiento normativo, para que mantengas al día tu
                        Estación de servicio.
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <div
              class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
              style="background-image: url('assets/img/why-us.png')"
              data-aos="zoom-in"
              data-aos-delay="150"
            >
              &nbsp;
            </div>
          </div>
        </div>
      </section>
      <!-- End Why Us Section -->

      <!-- ======= Skills Section ======= -->
      <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div
              class="col-lg-6 d-flex align-items-center"
              data-aos="fade-right"
              data-aos-delay="100"
            >
              <img src="assets/img/skills.png" class="img-fluid" alt="" />
            </div>
            <div
              class="col-lg-6 pt-4 pt-lg-0 content"
              data-aos="fade-left"
              data-aos-delay="100"
            >
              <h3>Tu aliado en cumplimiento regulatorio</h3>
              <p class="fst-italic">
                Te ayudamos a cumplir con toda la normativa que regula al sector
                de hidrocarburos previviendo multas, sanciones o clausuras.
              </p>

              <div class="skills-content">
                <div class="progress">
                  <span class="skill">ASEA <i class="val">100%</i></span>
                  <div class="progress-bar-wrap">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      aria-valuenow="100"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>

                <div class="progress">
                  <span class="skill">CRE <i class="val">100%</i></span>
                  <div class="progress-bar-wrap">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      aria-valuenow="100"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>

                <div class="progress">
                  <span class="skill"
                    >PROFECO/SENER/STPS <i class="val">100%</i></span
                  >
                  <div class="progress-bar-wrap">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      aria-valuenow="100"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Skills Section -->

      <!-- ======= Cta Section ======= -->
      <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
              <h3>Contáctanos</h3>
              <p>
                No dudes más y pon al día tu estación de servicio con la mejor
                consultoría de México en el sector de hidrocarburos, contamos
                con un equipo de expertos en cada norma para apoyarte en todo lo
                tu estación de servicio requiera.
              </p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <div>
                <a class="cta-btn align-middle" href="#contact">Contáctanos</a>

                <a
                  class="mt-3 cta-btn align-middle cta-btn-whats"
                  target="_blank"
                  href="https://wa.me/5212221642784?text=Hola,%20estoy%20interesado%20en%20sus%20servicios"
                  >Whatsapp</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Cta Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Nuestros servicios</h2>
          </div>

          <div class="row justify-content-center">
            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div
                class="icon-box"
                :class="{ active: selectedCategory === 'asea' }"
                @click="setCategory('asea')"
              >
                <div class="icon">
                  <img
                    src="https://i0.wp.com/sicammexico.com.mx/wp-content/uploads/2018/06/asea-logo.png?ssl=1"
                    alt=""
                    class="img-fluid"
                  />
                </div>
                <p>
                  Órgano administrativo desconcentrado de la Secretaría de Medio
                  Ambiente y Recursos Naturales que regula y supervisa la
                  seguridad industrial, seguridad operativa y protección al
                  ambiente respecto de las actividades del sector hidrocarburos.
                </p>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div
                class="icon-box"
                :class="{ active: selectedCategory === 'cre' }"
                @click="setCategory('cre')"
              >
                <div class="icon">
                  <img
                    src="assets/img/dependeces/cre.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
                <p>
                  Órgano administrativo que cuenta con la autonomía técnica,
                  operativa, de gestión y de decisión en términos de la Ley de
                  la Comisión Reguladora de Energía, y ejerce las atribuciones
                  que le confieren dicho ordenamiento,
                </p>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div
                class="icon-box"
                :class="{ active: selectedCategory === 'others' }"
                @click="setCategory('others')"
              >
                <div class="icon">
                  <img
                    src="assets/img/dependeces/stps.png"
                    alt=""
                    class="img-fluid"
                  />
                </div>
                <p>
                  Adicional a las autoridades de ASEA, CRE, PROFECO Y SEMARNAT,
                  también se deben cumplir con regulación antes otras
                  autoridades, tales como:
                </p>
              </div>
            </div>
          </div>

          <div class="row mx-0 mt-5 about" v-if="selectedCategory === 'asea'">
            <div class="col-md-6 content">
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> Pre-registro ante
                  Oficialía de partes (OPE ASEA)
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Clave Única del regulado
                  (CURR)
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Revisión, Análisis y
                  presentación de póliza de seguros ante ASEA
                </li>
                <li><i class="ri-check-double-line"></i> Análisis de riesgo</li>
                <li>
                  <i class="ri-check-double-line"></i> Registro Generador de
                  Residuos peligrosos (RGRP)
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Informe preventivo (IP)
                  y/o Manifiesto de impacto ambiental
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Licencia de
                  Funcionamiento (LF)
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Cédula de Operación Anual
                  (COA)
                </li>
                <li><i class="ri-check-double-line"></i> SASISOPA</li>
                <li>
                  <i class="ri-check-double-line"></i> Auditorías ambientales
                  semestrales apegadas a disposiciones administrativas de
                  carácter general del SASISOPA
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Dictamen de autorización
                  de SASISOPA de tercero especialista
                </li>
              </ul>
            </div>
            <div class="col-md-6 content">
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> Programa de respuesta a
                  Emergencias (PRE)
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Dictamen Anual de
                  operación y mantenimiento NOM-005-ASEA-2016
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Cambio de título ante
                  ASEA
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Procedimientos de medidas
                  de seguridad operativa, industrial y personal
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Contestación de actas
                  circunstanciadas ASEA
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Modificaciones de Obra o
                  plazos y términos aplicaciones o modificaciones de instalación
                  ASEA
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Asesoría y capacitación
                  en los temas del sector de Hidrocarburos
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Bitácoras operativas
                  apegadas a la norma NOM-005-ASEA-2016
                </li>
              </ul>
            </div>
          </div>

          <div class="row mx-0 mt-5 about" v-if="selectedCategory === 'cre'">
            <div class="col-md-6 content">
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> Pre-registro ante OPE CRE
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Dictamen Anual de la
                  Calidad de los productos NOM-016-CRE-2016
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Pruebas de Laboratorio
                  semestrales (Ene-Jun / Jul-Dic)
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Sistema de Gestión de la
                  medición (SGM)
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Nuevos Permisos de
                  expendio al público, Transporte, Distribución,
                  Comercialización o Almacenamiento
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Cesión de derechos ante
                  CRE
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Actualizaciones en
                  permiso CRE
                </li>
              </ul>
            </div>
            <div class="col-md-6 content">
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> Modificaciones en permiso
                  CRE
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Contestación de actas
                  circunstanciadas CRE
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Reportar: Reporte anual,
                  Estructura accionaria, pago de supervisión anual CRE
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Reporte estadístico de
                  información Diaria CRE
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Asesoría y capacitación
                  en los temas del sector de Hidrocarburos
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Auditoría Interna CRE
                </li>
              </ul>
            </div>
          </div>

          <div class="row mx-0 mt-5 about" v-if="selectedCategory === 'others'">
            <div class="col-md-6 content">
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> <strong>STPS</strong> -
                  NOM-035-STPS-2018, Factores de riesgo psicosocial en el
                  trabajo-Identificación, análisis y prevención
                </li>
                <li>
                  <i class="ri-check-double-line"></i> <strong>STPS</strong> -
                  NOM-019-STPS-2011, Constitución, integración, organización y
                  funcionamiento de las comisiones de seguridad e higiene.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> <strong>STPS</strong> -
                  NOM-030-STPS-2009, Servicios preventivos de seguridad y salud
                  en el trabajo-Funciones y actividades.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> <strong>SENER</strong> -
                  Evaluación de impacto social (EVIS)
                </li>
              </ul>
            </div>
            <div class="col-md-6 content">
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> <strong>SENER</strong> -
                  Permisos de Importación
                </li>
                <li>
                  <i class="ri-check-double-line"></i>
                  <strong>PROFECO</strong> - Solicitud de levantamiento de
                  Medida Precautoria (Remoción de sellos)
                </li>
                <li>
                  <i class="ri-check-double-line"></i>
                  <strong>PROFECO</strong> - Asesoría Legal ante la AUTORIDAD
                </li>
                <li>
                  <i class="ri-check-double-line"></i> <strong>PEMEX</strong> -
                  Cancelación de contratos de franquicia
                </li>
                <li>
                  <i class="ri-check-double-line"></i> <strong>PEMEX</strong> -
                  Trámite Bandera Blanca
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Contacto</h2>
            <p>
              Comparte un poco de tus necesidades de negocio, datos personales y
              envíanos un mensaje para atenderte enseguida, en PROTACT la
              atención es personalizada y segura.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Ubicación:</h4>
                  <p>Sta Cruz Buenavista, 72150 Puebla, Pue.</p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>contacto@protact.mx</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Teléfono:</h4>
                  <p>2221642784</p>
                </div>

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.0282493523077!2d-98.25393823509906!3d19.06249553709567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc7f13e842cb1%3A0x545b0ab6996132ae!2sFigand!5e0!3m2!1sen!2smx!4v1671481235963!5m2!1sen!2smx"
                  frameborder="0"
                  style="border: 0; width: 100%; height: 290px"
                  allowfullscreen
                ></iframe>
              </div>
            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <form
                action="https://formbold.com/s/3VAO9"
                method="POST"
                class="php-email-form"
              >
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Nombre</label>
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Título</label>
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="name">Mensaje</label>
                  <textarea
                    class="form-control"
                    name="message"
                    rows="10"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>

                <div class="text-center mt-4">
                  <button type="submit">Enviar mensaje</button>
                </div>
              </form>
            </div>
          </div>

          <div class="d-flex justify-content-center mt-5">
            <div>
              <p>
                O envíanos un whatsapp haciendo click en el siguiente botón:
              </p>
              <div class="d-flex justify-content-center">
                <a
                  class="cta-btn align-middle cta-btn-whats-inverter"
                  target="_blank"
                  href="https://wa.me/5212221642784?text=Hola,%20estoy%20interesado%20en%20sus%20servicios"
                  >Whatsapp</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top" style="background: #f3f5f9">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>PROTACT</h3>
              Zavaleta #1097 acceso, Hidalgo #7, Sta Cruz Buenavista, 72150
              Puebla, Pue.
              <p>
                Zavaleta #1097 acceso<br />
                Hidalgo #7 Sta Cruz Buenavista,<br />
                72150 Puebla, Pue. <br /><br />
                <strong>Teléfono:</strong> 2221642784<br />
                <strong>Email:</strong> contacto@protact.mx<br />
              </p>
            </div>

            <div class="col-lg-3 col-md-6 footer-links"></div>

            <div class="col-lg-3 col-md-6 footer-links"></div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Nuestras Redes Sociales</h4>
              <p>Síguenos en nuestras redes sociales</p>
              <div class="social-links mt-3">
                <a
                  target="_blank"
                  href="https://www.facebook.com/Protactmexico"
                  class="facebook"
                  ><i class="bx bxl-facebook"></i
                ></a>
                <a
                  target="_blank"
                  href="https://instagram.com/protact.mexico?igshid=YmMyMTA2M2Y="
                  class="instagram"
                  ><i class="bx bxl-instagram"></i
                ></a>
                <a
                  target="_blank"
                  href="https://www.linkedin.com/company/protact/"
                  class="linkedin"
                  ><i class="bx bxl-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>PROTACT</span></strong
          >. Todos los derechos reservados
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            selectedCategory: "asea",
          };
        },

        methods: {
          setCategory(category) {
            this.selectedCategory = category;
          },
        },
      }).mount("#main");
    </script>
  </body>
</html>
